* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    background-color: #0e0d0d;
    color: #f5f0e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header {
    text-align: center;
    padding: 1.5rem 0;
    color: #d7a86e;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0px 4px 9px rgba(215, 168, 110, 0.4);
}
.app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    flex: 1;
    padding: 2rem;
    gap: 2rem;
}
.panel {
    flex: 1;
    background: rgba(40, 37, 33, 0.9);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(215, 168, 110, 0.2);
}
.option-group {
    margin-bottom: 1.8rem;
}
.option-group h2 {
    margin-bottom: 0.6rem;
    color: #d7a86e;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.radio-group label,
.checkbox-group label {
    display: block;
    margin: 0.4rem 0;
    cursor: pointer;
    font-size: 1rem;
    color: #f6eddd;
}
input[type="radio"],
input[type="checkbox"] {
    accent-color: #d7a86e;
}
.visual {
    flex: 1;
    text-align: center;
    margin-bottom: 7rem;
}
.cup-scene {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.4rem;
}
.cup {
    position: relative;
    width: 180px;
    height: 210px;
    background: linear-gradient(to bottom, #3b2314 55%, #0f0f0f 45);
    backdrop-filter: blur(4px);
    border: 2px solid #dbb78b;
    border-radius: 10px 10px 40px 40px;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(250, 250, 250, 0.3);
}
.cup-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65%;
    background-color: #1e0c04;
    border-radius: 0px 0px 10px 10px;
    transition:
        height 0.6s ease,
        background 0.4s ease;
}
.cup-fill::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 14px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 50% 50% 0 0/ 7px 7px 0 0;
}
.cup-shine {
    position: absolute;
    top: 21px;
    left: 16px;
    width: 16px;
    height: 70px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    transform: rotate(-8deg);
    pointer-events: none;
}
.cup-base {
    width: 210px;
    height: 15px;
    background: radial-gradient(circle at center, #5a4a45 0%, #675241 100%);
    border-radius: 0 0 50px 50px;
    border: 2px solid #d7a86e;
    border-top: none;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4) mar;
}
.badges {
    margin-top: 12px;
}

.badge {
    display: inline-block;
    margin: 0 6px;
    font-size: 1.5rem;
    color: #d7a86e;
    opacity: 0;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.badge.active {
    opacity: 1;
    transform: scale(1.2);
}

.summary {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #f5f0e6;
    background: rgba(40, 37, 33, 0.9);
    padding: 1.9rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(215, 168, 110, 0.2);
    width: 90%;
    margin: 0 auto;
}
#summary h3 {
    color: #d7a86e;
    margin-bottom: 8px;
}

#summary h4 {
    color: #f6edd1;
    margin-top: 8px;
}

@media (max-width: 900px) {
    .app {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 95%;
    }

    .panel,
    .visual {
        width: 100%;
        max-width: 500px;
    }

    header {
        font-size: 1.6rem;
        padding: 1rem 0;
        text-align: center;
    }

    .summary {
        width: 90%;
        margin: 1rem auto;
        font-size: 1rem;
    }
    #summary h3 {
        color: #d7a86e;
        margin-bottom: 5px;
    }

    #summary h4 {
        color: #f6edd1;
        margin-top: 5px;
    }
}
@media (max-width: 600px) {
    header {
        font-size: 1.2rem;
        text-align: center;
    }

    .app {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        width: 100%;
        padding: 1rem;
    }
    .cup {
        width: 120px;
        height: 160px;
        border-width: 2.3px;
    }

    .cup-base {
        width: 150px;
        height: 20px;
    }
    .summary {
        width: 90%;
        margin: 1rem auto;
        font-size: 0.95rem;
        padding: 1rem;
    }
    #summary h3 {
        color: #d7a86e;
        margin-bottom: 3px;
    }

    #summary h4 {
        color: #f6edd1;
        margin-top: 3px;
    }

    .option-group h2 {
        font-size: 1rem;
    }
    .radio-group,
    .checkbox-group {
        display: flex;
        flex-direction: column;
    }

    .radio-group label {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
    }
    .checkbox-group label {
        font-size: 0.9rem;
    }
    .badge {
        margin: 0 7px;
        font-size: 16px;
    }
}
